
<h1>Create New User Information</h1>

<form action='/completion' method='post'>
  <label for="real_name">Enter Real Name</label>
  <input type="text" name="user_input[real_name]"/><br>
  
  <label for="user_name">Enter Preferred User Name</label>
  <input type="text" name="user_input[user_name]"/><br>
  
  <label for="password">Enter Password</label>
  <input type="text" name="user_input[password]"/><br>

  <input type="submit"/>
</form>

<a href="/">Return Home</a>
