<div class="container">
  <h1>Welcome to the Dummy User!</h1>
  <p>Returning user? Please sign in below:</p>


  <form>
  </form>
  
  <p>New to dummy user? Please create an acccount:</p>
  <a href="/create_new_user">Create New User</a>

</div>
