<br>
<table>
  <tr>
    <th>Real Name: </th> <td> <%= @new_user.real_name %></td>
  </tr>

  <tr>
  <th>User Name: </th> <td> <%= @new_user.user_name %></td>
  </tr>

  <tr>
  <th>Password: </th> <td> <%= @new_user.password %> </td>
  </tr>
</table>

<a href='/'>Return Home</a>

